
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<div class="row g-3">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
        <h1 style="color:brown">Admin Log In</h1>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <label style="font-size:larger" for="" class="form-label">Username</label>
        <input type="text" class="form-control">
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <label style="font-size:larger" for="" class="form-label">Password</label>
        <input type="password" name="" id="" class="form-control">
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <a href="" class="btn btn-primary">Log in</a>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <label class="form-label">Not Have an Account? </label>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       
        <a href="" class="btn btn-success">User Registration</a>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <label class="form-label">Already Have an Account? </label>
        
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
        <a href="" class="btn btn-success">User SignUp</a>
    </div>
</div>

        </div>
    </div>
</div>
