<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <h1 style="color:brown">View all Books</h1> 
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://i.pinimg.com/474x/b1/41/c4/b141c4ad928f1802711886e24fe26f01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Malorie</h5>
                          <p class="card-text">Author : Josh Malerman </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://m.media-amazon.com/images/I/71Eex9n-rCL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Heart Shaped Box</h5>
                          <p class="card-text">Author : Joe Hill </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://m.media-amazon.com/images/I/51G9z1ZPAvL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bird Box</h5>
                          <p class="card-text">Author : Josh Malerman </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://m.media-amazon.com/images/I/819DG6hgc1L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Vesuvius Club</h5>
                          <p class="card-text">Author : Mark Gatiss </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://kbimages1-a.akamaihd.net/b8962b07-61f8-409b-93de-45dd06cf920c/1200/1200/False/heart-shaped-box.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Heart Shaped Box</h5>
                          <p class="card-text">Author : Josh Malerman </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://cdn.novelupdates.com/images/2021/01/I-Can-See-the-Lines-of-Fortune.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">I can See The Line</h5>
                          <p class="card-text">Author :  Inflatted gu gu </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://cdn.novelupdates.com/images/2017/03/The-Sacred-Ruins.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Sacred Ruins</h5>
                          <p class="card-text">Author : Gien Dong </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1444019284l/283142.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Girl in the Box</h5>
                          <p class="card-text">Author : Ouida Sebestyen </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://m.media-amazon.com/images/I/518g2iMFmFL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Releasing fiction</h5>
                          <p class="card-text">Author : Tish Farrel </p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1568096049l/53031498._SX1200_SY630_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">I Love You Monster</h5>
                          <p class="card-text">Author : Kazzenlx </p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>